@import "tailwindcss";


:root {
  --background: #FFFDFB;
  --maintext: #3D3D3D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--maintext);
  --font-sans: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --maintext: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--maintext);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
  